body{
  position: relative;
}
p{
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
.botao{
  width: 250px;
  background: #BE7E5B;
  border-radius: 12px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.botao p{
  text-align: center;
  color: white;
  font-weight: bold;
}
.bg-font{
	background: linear-gradient(90deg, rgba(212,151,126,1) 0%, rgba(219,176,157,1) 50%, rgba(212,151,126,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
h1, h2, h3, h4, h5, h6{  line-height: 1.0;}

/* h1, h2{  
  font-family: 'Martel', serif;
} */
h2, h3, h4, h5, h6, p{
  /* font-family:'Andora Modern Script Regular'; */
  font-family: 'Andora Modern Script Regular';
  font-weight: normal;
}

h1{ font-size: 36px;}
h2{  font-size: 32px;  }
h3{  font-size: 24px;  }    
.p-cinza-claro{  color: #a7a3a3;}


/* inicio - icone ir par acima */
.go-top {
  position: absolute;
  top: 0;
  right: 6px;
  height: 100%;
  z-index: 1000;
}

.go-top:before {
  content: '';
  display: block;
  height: 100vh;
  pointer-events: none;
}

.go-top a {
  position: sticky;
  top: 95vh;
  cursor: pointer;
  font-size: 20px;
}
.go-top a .icon-go-top{
  width: 60px;
  background: white;
  border-radius: 100%;
}
/* fim - icone ir par acima */
