/* inicio - conheça mais tarde */
.conheca-mais-sobre{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
}
.conheca-mais-sobre .content-left {
  height: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}
.conheca-mais-sobre .content-left .title{
  color: red;
}
.conheca-mais-sobre .content-left .subtitle{
  color: white;
}
.conheca-mais-sobre .content-left p{
  color: white;
}
.conheca-mais-sobre .content-right img{
  width: 300px;
  height: 500px;
  object-fit: cover;
}
/* fim - conheça mais tarde */
/* inicio - agende horario */
.agende-horario{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
}
.agende-horario .content-left{
  float: right;
}
.agende-horario .content-left img{
  height: 500px;
  object-fit: cover;
  align-items: right;
}
.agende-horario .content-right {
  height: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.agende-horario .content-right .title{
  color: red;
}
.agende-horario .content-right .subtitle{
  color: white;
}
.agende-horario .content-right p{
  color: white;
}
.agende-horario .col-6 {
  padding: 0;
}
/* fim - agende horario */

/* inicio - contrate */
.contrate{

  height: 100vh;
  width: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url(/assets/img/psicologa-contrate-uma-palestra.jpeg) 0% 0% / cover no-repeat fixed;
  overflow: hidden; */

  background: url(/assets/img/psicologa-contrate-uma-palestra.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.contrate .content{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  background: #000;
  width: 300px;
  height: 400px;
  padding: 32px;
  border-radius: 20px;
}
.contrate .content .title{
  color: red;
}
.contrate .content .subtitle{
  color: white;
}
.contrate .content p{
  color: white;
}
/* fim - contrate */

/* inicio - metodo */
.metodo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #cfcfcf;
}
.metodo .content{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;  
  padding: 32px;
  border-radius: 20px;
}
.metodo .content .title{
  color: red;
}
.metodo .content .subtitle{
  color: #000;
}
.metodo .content p{
  color: #000;
}
.metodo .content-button{
  display: flex;
  justify-content: center;
}
.metodo .content-button p{
  color: #fff;
}

/* fim - metodo */

/* inicio - videos-youtube */
.videos-youtube{
  height: 100vh;
}
.videos-youtube .top{
  height: 40%;
  width: 100%;
  background: #000;
}
.videos-youtube .bottom{
  height: 60%;
  width: 100%;
  background: #fff;
}
.videos-youtube .content{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;  
  width: 300px;
  padding: 32px;
  border-radius: 20px;
}
.videos-youtube .content .title{
  color: #fff;
}
.videos-youtube .content .subtitle{
  color: #fff;
}
.videos-youtube .content p{
  color: #fff;
}
.videos-youtube .content-button{
  display: flex;
  justify-content: center;
}
.videos-youtube .content-button p{
  color: #fff;
}
.videos-youtube .bottom{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* background: url(/assets/img/psicologa-videos-Michelli-dijon.png) 0% 0% / cover no-repeat fixed;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* overflow: hidden; */
  background: url(/assets/img/psicologa-videos-Michelli-dijon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* fim - videos-youtube */