/* 
cor 
#BE7E5B botao laranja
#F3F3F3 prata

degrade dourado
#DBB09D
#D4977E

paragrafo cinza a7a3a3

*/


/* inicio - conheça mais tarde */


.conheca-mais-sobre {  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
}
.conheca-mais-sobre .content-right{
  height: 100%;
  position: relative;
}
.conheca-mais-sobre .content-right .img-topo{
  position: absolute;
  z-index: 1;
  top: -175px;
}
.conheca-mais-sobre .content-right .img-abaixo{
  width: 300px;
  position: absolute;
  z-index: 2;
  top: -48px;
}
.conheca-mais-sobre .content-left {
  height: 100%;
  width: 250px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  float: right;
}
.conheca-mais-sobre .content-left .subtitle{
  color: white;
  margin-bottom: 24px;
}
.conheca-mais-sobre .content-left .botao{
  margin-top: 16px;
  width: 100%;
}

/* fim - conheça mais tarde */









/* inicio - agende horario */
.agende-horario{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
}
.agende-horario .content-left{
  display: flex;
  float: right;
  position: relative;
  height: 100%;
  width: 100%;
  float: right;
}
.agende-horario .content-left .img-topo{
  position: absolute;
  right: 32px;
  top: -13%;
}
.agende-horario .content-left .img-maior{
  position: absolute;
  bottom: -50%;
  right: 0;
}
.agende-horario .content-right {
  height: 100%;
  width: 250px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.agende-horario .content-right .title{
  color: white;
  font-family: 'Roboto', sans-serif;
}
.agende-horario .content-right .subtitle{
  color: white;
  margin-bottom: 8px;
}

.agende-horario .content-right .botao {
  margin-top: 24px;
}

.agende-horario .col-6 {
  padding: 0;
}
/* fim - agende horario */

















/* inicio - contrate */
.contrate{

  height: 100vh;
  width: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url(/assets/img/psicologa-contrate-uma-palestra.jpeg) 0% 0% / cover no-repeat fixed;
  overflow: hidden; */

  background: url(/assets/img/psicologa-contrate-uma-palestra.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* z-index: 2; */
  /* position: absolute; */

}
.contrate .content{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  background: #000;
  width: 300px;
  height: 400px;
  padding: 32px;
  border-radius: 20px;
  position: relative;
}
.contrate .content .title{  color: white;}
.contrate .content .subtitle{
  color: white;
  margin-top: 8px;
}
.contrate .content .botao p {  margin: 0; }
.contrate .content p{ margin-top: 16px;}
.contrate .content .botao {
  position: absolute;
  bottom: -15px;
}
/* fim - contrate */









/* inicio - metodo */
.metodo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #F3F3F3;
}
.metodo .content{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;  
  padding: 32px;
  border-radius: 20px;
  width: 300px;
}
.metodo .content-left {
  float: right;
  display: flex;
  height: 100%;
  align-items: center;
}
.metodo .content-left img{
  width: 300px;
}

.metodo .content .title{
  color: #000;
  font-family: 'Roboto', sans-serif;
}
.metodo .content .subtitle{
  margin-top: 8px;
  margin-bottom: 16px;
  color: #000;
  font-family: 'Roboto', sans-serif;
}
.metodo .content p{
  color: #000;
}

.metodo .content-button{
  display: flex;
  justify-content: center;
}
.metodo .content-button .botao {
  margin-top: 24px;
}
.metodo .content-button .botao p{
  color: #fff;
}

/* fim - metodo */

/* inicio - videos-youtube */
.videos-youtube{
  height: 100vh;
  width: 100%;
  background: url(/assets/img/psicologa-psicologia-michelli-duje-videos.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}





.content-external{
  position: relative;
}
.videos-youtube .content{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;  
  width: 250px;
  padding: 32px;
  border-radius: 20px;
  position: absolute;
  top: -335px;
  left: 0;
}
.videos-youtube .content-external img {
  position: absolute;
  bottom: -280px;
  left: 138px;
  width: 155%;
}






.videos-youtube .content .title{
  color: #fff;
  display: flex;
  font-family: 'Roboto', sans-serif;
}
.videos-youtube .content .subtitle{
  color: #fff;
}

.videos-youtube .content p {
  margin-top: 8px;
  width: 250px;
}
.videos-youtube .content .botao{
  margin-top: 16px;
}
.videos-youtube .content .botao p{
  margin: 0;
}



/* fim - videos-youtube */